<?xml version="1.0" encoding="UTF-8"?>
<spring:beans xmlns:spring="http://www.springframework.org/schema/beans"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:int="http://www.springframework.org/schema/integration"
              xmlns:int-http="http://www.springframework.org/schema/integration/http"
              xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/integration
            http://www.springframework.org/schema/integration/spring-integration.xsd
            http://www.springframework.org/schema/integration/http
            http://www.springframework.org/schema/integration/http/spring-integration-http.xsd">

    <int:channel id="requestChannel" />
    <int:channel id="responseChannel" />

    <int:service-activator id="basicMessageProcessor"
                           ref="messageProcessor"
                           method="process"
                           input-channel="requestChannel"
                           output-channel="responseChannel" >
    </int:service-activator>

    <int-http:inbound-gateway id="testGateWay"
                              payload-expression="#requestParams.name"
                              supported-methods="GET"
                              request-channel="requestChannel"
                              reply-channel="responseChannel"
                              path="/test">
        <int-http:header name="from" expression="#requestParams.from"/>
        <int-http:header name="subject" expression="#requestParams.subject"/>
        <int-http:header name="text" expression="#requestParams.text"/>
    </int-http:inbound-gateway>
</spring:beans>